body {
  display: flex;
  justify-content: center;
  background-color: black;
}
.wrong{
  background-color: red;
}
.container {
  display: flex;
  width: 400px;
  flex-direction: column;
}
#cont{
  color: white;
  font-size: 30px;
  width: 400px;
  display: flex;
  justify-content: center;
}

#instruction h5{
  font-family: "Aref Ruqaa Ink", serif;
  margin: 0;
}
#instruction{
  display: none;
  padding-left: 10px;
  padding-right: 10px;
}
i{
  cursor: pointer;
}
.question:hover~#instruction{
  display: block;
}
#instruction p{
  font-family: "Aref Ruqaa Ink", serif;
  font-size: 15px;
  line-height: 1;
}
.color-container {
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 380px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -190px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


h1 {
  width: 400px;
  text-align: center;
  color: white;
  font-family: "Bungee Spice", sans-serif;
  font-size: 50px;
}

h4 {
  width: 400px;
  text-align: center;
  color: white;
  font-family: "Aref Ruqaa Ink", serif;
  font-size: 20px;
}

.color {
  height: 180px;
  width: 180px;
  border: none;
  box-shadow: 2px 2px 10px rgb(136, 133, 133);

}


.color1 {
  background-color: rgb(242, 20, 20);
}

.color2 {
  background-color: rgb(19, 153, 255);
}

.color3 {
  background-color: rgb(255, 136, 0);
}

.color4 {
  background-color: rgb(176, 35, 252);
}
.flash{
  background-color: white;
}
.flashUser{
  background-color: rgb(0, 255, 0);
}